<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de Personas</title>
<link rel="stylesheet" th:href="@{/css/listadoClientes.css}" />
<script th:src="@{/js/listaClientes.js}"></script>
<script th:src="@{/js/all.js}"></script>
<script th:src="@{/js/fontawesome.js}"></script>
<link rel="stylesheet"
	th:href="@{/css/fontawesome.css}">
</head>
<body>

<div class="conte1">
	<div class="conte2">
      <table>
			<thead>
				<th>Id Cliente</th>
				<th>Cuenta</th>
				<th>Nombre Cliente</th>
				<th>Id Servicio</th>
				<th>Nodo</th>
				<th>Usuario</th>
				<th>Operación</th>
			</thead>
			<tbody>
               <tr th:each="cliente : ${listaClientes}">
					<td th:text="${cliente.getId_cliente()}"></td>
					<td th:text="${cliente.getCuenta()}"></td>
					<td th:text="${cliente.getNombre_cliente()}"></td>
					<td th:text="${cliente.getId_servicio()}"></td>
					<td th:text="${cliente.getNodo()}"></td>
					<td th:text="${cliente.getUsuario()}"></td>
					<td><a th:href="@{/htmlclientes/editarcliente/{id}(id=${cliente.getId_cliente()})}">Editar👍</a></td>
				</tr>
                  
			</tbody>

	</table>
	
	</div>

	<div class="conte3">
		<button type="button" class="btnCrearNuevo"
			onclick="location.href='./crearcliente/0'">
			<i class="fas fa-plus-circle"></i>&nbsp;Nueva Persona
		</button>
	</div>
	
 </div>



</body>

</html>